.index {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Lake_Rotomahana_%26_Mt._Tarawera_LCCN2017657819.jpg/1280px-Lake_Rotomahana_%26_Mt._Tarawera_LCCN2017657819.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: compact;
    height: 100%;
    background-color: ghostwhite;
    justify-content: center;
    overflow-x: hidden;
    margin-top: 0;
}

#index-main {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#index-main .content {
    margin: 0 auto;
    max-width: 620px !important;
    text-align: center;
    position: relative;
    top: -80px;
}

#index-main .content h1 {
    color: black;
    font-size: 40pt;
}

nav {
    background-color: #1D1B0F;
}

.nav-link {
    transition: 0.3s ease;
}

.nav-link:hover {
    transition: 0.3s ease;
}

.nav-hr {
    border-top: 1px solid #666666 !important; 
    width: auto; 
    margin-left: 5px; 
    margin-right: 5px;
    margin-bottom: 5px;
}

#main {
    padding-top: 4.5rem;
}

.figure-img {
    border: 1px solid lightgrey;
    border-bottom: 0;
    margin-bottom: 0 !important;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.figure-caption {
    border: 1px solid lightgrey;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul {
    margin: 0;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed > li {
    text-indent: -30px;
}

ul.dashed > li:before {
    content: "- ";
    padding-right: 5px;
}

footer {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    position: fixed;
    padding-left: 10%;
    padding-right: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/footer.jpg);
}

footer p {
    color: white;
    margin: 0;
    padding: 0;
}