/* ==================================================
        CSS Stylesheet for Timaru Tracks Website
        File: css/styles.css
        Author: Jordan Hay
        Date: April 2018
   ================================================== */

/* Imported Stylesheets for Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

/* General body styles */
body {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
    font-family: 'Lato', sans-serif;
}

/* Header styles */
header {
    background-image: url(../images/head.jpg);
    background-color: #666666;
    background-size: cover;
    background-position: center 60%;
    height: 270px;
    margin: 0;
    padding: 0;
}

/* General style for h1 */
h1 {
    font-family: 'Roboto', sans-serif;
    color: #424242;
    font-size: 45pt;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

/* General nav styles */
nav {
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

nav a {
    text-decoration: none;
    font-size: 20pt;
    color: #424242;
    transition: all 0.3s ease;
}

nav a:first-child {
    margin-right: 70px;
}

nav a:last-child {
    margin-left: 70px;
}

nav a:hover {
    color: #666666;
    border-bottom: 3px solid #666666;
    opacity: 0.8;
}

nav a.active {
    color: #006400;
    border-bottom: 3px solid #006400;
    cursor: default;
}

nav a.active {
    opacity: 1;
}

/* Style for body on index page */
body#index {
    margin: 0;
    padding: 0;
    background-image: url(../images/head.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-color: #666666;
}

/* Style for main in index */
main#index-content {
    margin-top: 7%;
    margin-left: 18%;
    margin-right: 18%;
    background-color: RGBA(255, 255, 255, 0.8);
    padding: 20px 20px;
    padding-bottom: 0px;
}

main#index-content h1 {
    margin-top: 20px;
    color: #424242;
    font-size: 60pt;
    font-family: 'Roboto', sans-serif;
}

/* Style for all main contents */
main#index-content main#content {
    text-align: center;
}

/* General styling for main#content */
main#content {
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 50px;
    border-top: 2px solid #666666;
}

main#content h2 {
    font-size: 20pt;
    color: #424242;
}

main#content p {
    font-size: 15pt;
}

main#content a {
    text-decoration: none;
    color: blue;
}

main#content a:hover {
    text-decoration: underline;
}

/* General styles for section.track */
section.track {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #666666;
}

/* Style for images in section.track */
#scenic-img {
    display: inline-block;
    width: 49%;
    background-image: url(../images/head.jpg);
    background-size: cover;
    background-position: center center;
    height: 480px;
    margin: 0;
    padding: 0;
}

#dashing-img {
    display: inline-block;
    width: 49%;
    background-image: url(../images/dashing-rocks.jpg);
    background-size: cover;
    background-position: center center;
    height: 400px;
    margin: 0;
    padding: 0;
}

#cbay-img {
    display: inline-block;
    width: 49%;
    background-image: url(../images/boardwalk.jpg);
    background-size: cover;
    background-position: center center;
    height: 370px;
    margin: 0;
    padding: 0;
}

#saltwater-img {
    display: inline-block;
    width: 49%;
    background-image: url(../images/saltwater-creek.JPG);
    background-size: cover;
    background-position: center center;
    height: 370px;
    margin: 0;
    padding: 0;
}

/* Style for icon examples in Copyright notice */
a.icon-example:hover {
    text-decoration: none;
}

a.icon-example img {
    width: 40px;
    height: 40px;
}

/* General styles for iframes (Used for displaying Google MyMaps) in section.track */
section.track iframe {
    width: 49.5%;
    position: relative;
    padding-top: 5px;
    border: 0;
    background-color: ghostwhite;
}

section.track h2 {
    margin-bottom: 0;
    padding-bottom: 5px;
}

/* General styles for hoveralerts (Based off of one by W3 Schools) */
.hoveralert {
    position: relative;
    display: inline-block;
}

.hoveralert img {
    width: 40px;
    height: 40px;
}

.hoveralerttext {
    position: absolute;
    display: none;
    right: -115%;
    width: 100px;
    padding: 5px;
    background-color: #231F20;
    text-align: center;
    color: white;
    z-index: 999;
}

.hoveralert:hover .hoveralerttext {
    display: block;
}

/* General styles for Gallery */
figure.gallery {
    margin: 5px;
    border: 1px solid lightgray;
    float: left;
    width: 32%;
    transition: all 0.3s ease;
}

figure.gallery:hover {
    border: 1px solid gray;
}

figure.gallery a img {
    width: 100%;
    height: auto;
}

section.desc {
    padding: 1.5%;
    text-align: center;
}

section.desc h2, p {
    margin: 5px;
    padding: 0;
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    padding: 0;
    width: 100%;
    background-color: RGBA(0, 0, 0, 0.8);
}

footer p {
    color: white;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    font-size: 13pt;
}

footer a {
    color: dodgerblue;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}